<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <!--<meta http-equiv="X-Frame-Options" content="SAMEORIGIN" />-->
    <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
    {% if site.enforce_ssl %}
        <script type="text/javascript">
            var host = "{{site.enforce_ssl}}";
            if ((host == window.location.host) && (window.location.protocol != "https:"))
                window.location.protocol = "https";
        </script>
    {% endif %}
    
    {% if site.google-site-verification %}
        <meta name="google-site-verification" content="{{ site.google-site-verification }}" />
    {% endif %}
    {% if site.baidu-site-verification %}
        <meta name="baidu-site-verification" content="{{ site.baidu-site-verification }}" />
    {% endif %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all">
    <meta name="author" content="{{ site.Author }},{{ site.Email }}">
    <meta name="copyright" content="{{ site.Author }}">
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords"  content="{{ site.keyword }}" />
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}" />
    
    <meta property="og:title" content ="{{ site.SEOTitle }}"/>
    <meta property="og:type" content ="Blog"/>
    <meta property="og:url" content ="{{site.homepage}}"/>
    <meta property="og:image" content ="/Source/images/icons/fav.ico"/>
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
      
    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/Source/pwa/manifest.json" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/Source/images/icons/favicon.ico" />
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Bootstrap Core CSS 
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" />
    -->
    <!-- Custom CSS 
    <link rel="stylesheet" href="{{ "/css/Quanyin-blog.min.css" | prepend: site.baseurl }}" />
    -->
    <!-- Pygments Github CSS -->
    <!-- <link rel="stylesheet" href="{{ "/css/syntax.min.css" | prepend: site.baseurl }}" /> -->

    <!-- Custom Fonts -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- Quanyin change font-awesome CDN to qiniu 
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    -->
    <!-- Quanyin Delete, sad but pending in China
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    -->

    <link rel="preload" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" as="style" onload="this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /></noscript>
    <link rel="preload" href="{{ "/css/Quanyin-blog.min.css" | prepend: site.baseurl }}" as="style" onload="this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="{{ "/css/Quanyin-blog.min.css" | prepend: site.baseurl }}" /></noscript>
    <link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" /></noscript>
    <!-- 合并到 Quanyin-blog.css 
    <link rel="preload" href="/css/syntax.min.css" as="style" onload="this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="/css/syntax.min.css" /></noscript>
    -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" async="async"></script>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" async="async"></script>
    <![endif]-->    
</head>