{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ partial "header.html" . }}
<!-- Main Content -->
<div class="col-sm-2 col-sm-offset-2 col-xs-5">
    <ul class="nav nav-tabs-vertical">
    {{ $data := .Data.Plural }}
    {{ $terms := .Data.Terms.ByCount }}
    {{ $length := len $terms }}
    {{ range $key, $value := $terms }}
            <li>
                <a href="{{ $data | relLangURL }}#{{ $key | urlize }}" data-toggle="tab">
                     {{ $value.Term | humanize}} <span class="badge pull-right">{{ len $value.Pages }}</span>
               </a>
            </li>
    {{end}}
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content col-sm-8 col-xs-7">
    {{ $data := .Data.Plural }}
    {{ $terms := .Data.Terms.ByCount }}
    {{ $length := len $terms }}
    {{ range $key, $value := $terms }}
    <div class="tab-pane" id="{{ $key | urlize }}">
      <h3 style="margin-top: 0px">Posts in {{ $value.Term | humanize}}</h3>
        <ul class="list-unstyled">
            {{ range $value.Pages }}
            <div class="postlist-container">
                <li>
                    <a href="{{ .URL }}">{{ .Title }}</a><span> &raquo; {{ dateFormat "2006-01-02" .Date }}</span> 
                </li>
            </div>
            {{end}}
        </ul>
    </div>
    {{end}}
</div>
{{ partial "footer.html" . }}
