/* Back to top 
#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: 1040px;
}
#back-top a {
  width: 54px;
  height: 54px;
  display: block;
  background: #ddd url(/Source/images/icons/Back-Top_Arrow.png) no-repeat center center;
  background-color: #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background-color: #777;
}
*/

/* load-CommentGitment */
#load-CommentGitment {
    background-color:#FFFFFF;
    padding:9px;
    margin:0 auto;
    position:relative;
    font-size:16px;
    color:#555;
    text-decoration:none;
    border: solid 2px #2D2D2D;
}

/* For Mathjax */
code.has-jax {font: inherit;
              font-size: 100%;
              background: inherit;
              border: inherit;
              color: @gray-dark;}
              

/* For anchor-js  */
/* place left on bigger screen */
@media all and (min-width: 800px) {
    .anchorjs-link{
        position: absolute;
        left: -0.75em;
        font-size: 1.1em;
        margin-top : -0.1em;
    }
}    
     

