<!-- Featured Tags -->
{{ if .Site.Params.featured_tags }}
<hr/>
<section>
    <h5><a href="/tags/">FEATURED TAGS</a></h5>
    <div class="tags">
        {{ $featured := or .Site.Params.featured_condition_size 4 }}
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ if gt (len $taxonomy.Pages) $featured }}
            <a href="{{ "/tags/#" | relLangURL }}{{ $name | urlize }}" rel="{{ len $taxonomy.Pages }}">{{ $name | humanize }}</a>
            {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}