<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" >
<head>
  <meta charset="UTF-8" />
  <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <link rel="dns-prefetch" target="_blank" href="//cdn.bootcss.com" />{{ if .Site.Params.busuanzi }}
  <link rel="dns-prefetch" target="_blank" href="//busuanzi.ibruce.info" />{{ end }}
  <link rel="preconnect" target="_blank" href="//cdn.bootcss.com" />{{ if .Site.Params.busuanzi }}
  <link rel="preconnect" target="_blank" href="//busuanzi.ibruce.info" />{{ end }}
  {{ if eq .Site.Params.async_css_all "true" }}<!-- 页面可能会抖动-->
  <link rel="preload" as="style" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" onload="this.onload=null;this.rel='stylesheet'" crossOrigin="anonymous" />
  <noscript><link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossOrigin="anonymous" /></noscript>{{ else }}
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossOrigin="anonymous" />{{ end }}
  <link rel="preload" as="style" href="{{ .Site.BaseURL }}/css/Quanyin-global.min.css" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="{{ .Site.BaseURL }}/css/Quanyin-global.min.css"/></noscript>
  <link rel="preload" as="style" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" /></noscript>
  <link rel="preload" as="font" href="//cdn.bootcss.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2" type="font/woff2" crossOrigin="anonymous" />
  <link rel="prefetch" as="script" href="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js" crossOrigin="anonymous" />{{ if .Params.image }}
  <link rel="preload" as="image" href="{{ .Site.BaseURL }}{{ .Params.image }}" />{{ end }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />{{ if and ( not .Site.IsServer ) .Site.Params.csp }}
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />{{ end }}
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta name="renderer" content="webkit" /><!-- 国产高速渲染 -->
  <meta name="theme-color" content="{{ with .Site.Params.chrome_tab_theme_color }}{{ . }}{{ end }}" />
  <link rel="canonical" href="{{ .Permalink }}" /><!-- Canonical URL -->
  <link rel="manifest" href="{{ .Site.BaseURL }}/pwa/manifest.json" /><!-- Web App Manifest -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/x-icon" /><!-- Favicon -->
  <meta name="robots" content="all" />
  <meta http-equiv="X-XSS-Protection" content="1;mode=block" />
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .Site.RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />{{ with .Site.Params.stat.google_verification }}
  <meta name="google-site-verification" content="{{ . }}" />{{ end }}{{ with .Site.Params.stat.baidu_verification }}
  <meta name="baidu-site-verification" content="{{ . }}" />{{ end }}
  <meta name="description" content="{{ if and .Description .Site.Params.description }}{{ .Description }} - {{.Site.Params.description }}{{ else }}{{ or .Description .Site.Params.description }}{{ end }}" />
  <meta name="author" content="{{ if .Params.authors }}{{ .Params.authors }}{{ else if .Site.Author.name }}{{.Site.Author.name}}{{ end }}" />
  <meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords "," }}{{else if .Site.Params.keywords }}{{ delimit .Site.Params.keywords "," }}{{ end }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" />
  <meta property="og:description" content="{{ if and .Description .Site.Params.description }}{{ .Description }} - {{.Site.Params.description }}{{ else }}{{ or .Description .Site.Params.description }}{{ end }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ or .Params.image .Site.Params.def_img }}" />{{ if .IsPage }}{{ if not .PublishDate.IsZero }}<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:00" | safeHTML }}" />{{ else if not .Date.IsZero }}
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:00" | safeHTML }}" />{{ end }}{{ if not .Lastmod.IsZero }}
  <meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:00" | safeHTML }}" />{{ end }}{{ end }}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>