{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
<!-- Page Header 抬头的图片 -->
<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/bg-404.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>404</h1>
                    <span class="subheading">你来到了没有知识的荒原 :(</span>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    document.body.classList.add('page-fullscreen');
</script>
{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
