  {{/*
      ## APlayer

      ### Ref:[APlayer](https://github.com/MoePlayer/APlayer)
  
      ### Params:
  
      - `id`
  
        required param
  
      ### Examples:
  
      - Simple
  
        {{% music "3950552" %}}
        {{% music "3950552" "netease" "song" %}}
  
      - Named Params
  
        {{% music id="3950552" %}}
        {{% music id="3950552" type="song" mode="random" server="netease" autoplay="true" %}}
  
  */}}
    <link rel="stylesheet" href="//cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css">
    <script src="//cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>    
  {{- /* DEFAULTS */ -}}
  {{ $server := "netease" }}
  {{ $type := "song" }}
  {{ $mode := "random" }}
  {{ $autoplay := "true" }}
  {{- if .IsNamedParams -}}
  
    <div class="aplayer post-container" 
        data-id="{{ .Get "id" }}" 
        data-server="{{ or (.Get "server") $server }}" 
        data-type="{{ or (.Get "type") $type }}" 
        data-mode="{{ or (.Get "mode") $mode }}" 
        data-autoplay="{{ or (.Get "autoplay") $autoplay }}" >
    </div>  
  
  {{- else -}}
  
    <div class="aplayer post-container" 
        data-id="{{ .Get 0 }}" 
        data-type="{{ if isset .Params 1 }}{{ .Get 1 }}{{ else }}{{ $type }}{{ end }}" 
        data-server="{{ if isset .Params 2 }}{{ .Get 2 }}{{ else }}{{ $server }}{{ end }}" 
        data-mode="{{ if isset .Params 3 }}{{ .Get 3 }}{{ else }}{{ $mode }}{{ end }}" 
        data-autoplay="{{ if isset .Params 4 }}{{ .Get 4 }}{{ else }}{{ $autoplay }}{{ end }}" >
    </div>  
    <script src="//cdn.jsdelivr.net/npm/meting@1.1.1/dist/Meting.min.js"></script>
  {{- end -}}